{% comment %} Toggle ellipsis {% endcomment %}
{%- liquid
  assign content = content | default: '' | strip
  assign show_read_more = show_read_more | default: false
  assign lines = lines | default: 4 | times: 2 | minus: 1.2
-%}

{%- if content != blank and show_read_more -%}
  <toggle-ellipsis style="--lines: {{ lines }};">
    <div class="toggle-ellipsis__content" data-content>
      {{ content }}
    </div>

    <div class="toggle-ellipsis__actions" data-actions>
      <button type="button" class="" data-button>
        <span class="body-small">{{ 'products.general.read_more' | t }}</span>
      </button>
    </div>
  </toggle-ellipsis>
{%- elsif content != blank -%}
  {{ content }}
{%- endif -%}
