/* Trade Gothic Regular (400) */
@font-face {
  font-family: "Trade Gothic";
  src: url('//www.ornotbike.com/cdn/shop/files/TradeGothic-Regular.woff2?v=12495394107380766981') format("woff2"),
       url('//www.ornotbike.com/cdn/shop/files/TradeGothic-Regular.woff?v=4415921456699387792') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Trade Gothic Bold (700) */
@font-face {
  font-family: "Trade Gothic";
  src: url('//www.ornotbike.com/cdn/shop/files/TradeGothicLTPro-Bold.woff2?v=6546602890428637994') format("woff2"),
       url('//www.ornotbike.com/cdn/shop/files/TradeGothicLTPro-Bold.woff?v=4641989073164189007') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
